<div class="row" style="margin-top: 10px;">
  <form class="col s12">
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s8 offset-s2">
        <input id="txt_projectCode" type="text" class="">
        <label for="txt_projectCode">Project Code</label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s8 offset-s2">
        <input id="txt_projectName" type="text" class="">
        <label for="txt_projectName">Project Name</label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0px;">
      <div class="file-field input-field col s8 offset-s2">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <p>
          Status
        </p>
        <p>
          <input name="rdg_status" type="radio" id="rdo_active" checked />
          <label for="rdo_active">Active</label>
        </p>
        <p>
          <input name="rdg_status" type="radio" id="rdo_inactive" />
          <label for="rdo_inactive">Inactive</label>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field center col s4 offset-s2">
        <button class="btn" style="width: 75%;">BACK</button>
      </div>
      <div class="input-field center col s4">
        <input class="btn" type="submit" style="width: 75%;" value="SAVE" />
      </div>
    </div>
  </form>
</div>
