<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" style="margin-left: 15px;">Line</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/login">LOGIN</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
