<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating green pulse">
    <i class="material-icons">add</i>
  </a>
</div>

<table class="centered">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Pic Code</th>
      <th>Pic Name</th>
      <th>Pic Value</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let i of datas;" >
      <td><a class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">edit</i></a></td>
      <td>{{i.picCode}}</td>
      <td>{{i.picName}}</td>
      <td>{{i.picValue}}</td>
      <td><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a></td>
    </tr>
  </tbody>
</table>
