<div class="row" style="margin-top: 10px;">
  <form class="col s12">
    <div class="row" style="margin-bottom: 0px;">
      <div class="file-field input-field col s6 offset-s2">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path" type="text">
        </div>
      </div>
      <div class="input-field center col s2">
          <button class="btn" style="width: 100%;">ATTACH</button>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
          <table class="bordered highlight" style="border: 1px solid #d0d0d0">
              <thead>
                <tr>
                    <th colspan="3"><h5>Attach File</h5></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of datas;">
                  <td style="width: 25px;"><i class="material-icons left" style="cursor:pointer;color:red;">delete</i></td>
                  <td >
                      <div class="chip">
                          <img src="/assets/image/{{i.issuePic}}" >
                          {{i.issuePic}}
                      </div>
                  </td>
                  <td style="width: 25px;"><i class="material-icons right" style="cursor:pointer;color:green;">send</i></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field center col s8 offset-s2">
        <button class="btn" style="width: 150px;">BACK</button>
      </div>
    </div>
  </form>
</div>
