<div class="row" style="margin-top: 15px;">
  <form class="col s12" (ngSubmit)="doLogin()" >
    <div class="row center">
      <div class="input-field col s12 m4 offset-m4">
        <i class="material-icons prefix">account_circle</i>
        <input id="txt_user" name="txt_user" [(ngModel)]="user.userCode" type="text" class="validate" placeholder="Please input your user code">
        <label for="txt_user">User Code</label>
      </div>
      <div class="input-field col s12 m4 offset-m4">
          <i class="material-icons prefix">lock</i>
        <input id="txt_password" name="txt_password" [(ngModel)]="user.userPwd" type="text" class="validate" placeholder="Please input your password">
        <label for="txt_password">Password</label>
      </div>
      <div class="input-field col s12 m4 offset-m4">
        <button type="submit" class="btn" style="width: 70%;">LOGIN</button>
      </div>
    </div>
  </form>
</div>
