<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating green pulse">
    <i class="material-icons">add</i>
  </a>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s8 offset-s1">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
      </div>
      <div class="input-field col s2 center">
        <input class="btn" type="submit" value="SEARCH" />
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1 ">

      <div *ngFor="let i of datas;" class="col s12 m4 center">
        <div style="border: 1px solid rgb(98, 98, 98);border-radius: 15px;margin: 10px 0px 10px 0px;padding: 0px 10px 0px 10px;">
          <div align="right" style="margin-top: 10px;"><i class="material-icons prefix" style="cursor:pointer;color:red;">clear</i></div>
          <img src="/assets/image/{{i.issuePic}}" alt="" class="circle">
          <div align="left"><b>Issue {{i.issueCode}} : </b>{{i.issueDetail}}</div>
          <div align="left"><b>วันที่ : </b>{{i.date}}</div>
          <div align="left"><b>สถานะ : </b>{{i.status}}</div>
          <div class="row" style="margin-top: 10px;">
            <div class="col s6 m6" align="left"> <label style="cursor:pointer;color:orange;"><i class="material-icons left">edit</i>EDIT</label> </div>
            <div class="col s6 m6" align="left"> <label style="cursor:pointer;color:blue;"><i class="material-icons left">attach_file</i>ATTACH</label> </div>
          </div>
        </div>
      </div>

  </div>
</div>
