<div class="row" style="margin-top: 10px;">
  <form class="col s12">
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s8 offset-s2">
        <input id="txt_picCode" type="text" class="">
        <label for="txt_picCode">Pic Code</label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s8 offset-s2">
        <input id="txt_picName" type="text" class="">
        <label for="txt_picName">Pic Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input id="txt_picValue" type="text" class="">
        <label for="txt_picValue">Pic Value</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field center col s4 offset-s2">
        <button class="btn" style="width: 75%;">BACK</button>
      </div>
      <div class="input-field center col s4">
        <input class="btn" type="submit" style="width: 75%;" value="SAVE" />
      </div>
    </div>
  </form>
</div>
