<h1>{{txtTitle}}</h1>
<input type="text" [(ngModel)]="txtTitle" />

<h1>{{numTest | number:'1.1-2'}}</h1>
<h1>{{"ggez uppercase" | uppercase}}</h1>
<h1>{{"GGEZ LOWERCASE" | lowercase}}</h1>
<h1>{{ dateNow | date:'d / M / y'}}</h1>
<h1>{{"ggez uppercase" | testString}}</h1>
<h1>{{"ggez uppercase" | testString: 'Hello World'}}</h1>

<button class="btn" (click)="gg();" [disabled]="boolDis">Test
  <i class="material-icons">visibility_off</i>
</button>
<button class="btn" (click)="gg2();">Dis BTN Test
  <i class="material-icons">visibility</i>
</button>

<div class="row" *ngIf="showTitle">
  <div class="col s12 m4">
    <div class="card-panel teal lighten-2">1 This div is 12-columns wide on all screen sizes</div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal lighten-2">2 This div is 12-columns wide on all screen sizes</div>
  </div>
  <div class="col s12 m4 hide-on-small-only">
    <div class="card-panel teal lighten-2">3 This div is 12-columns wide on all screen sizes</div>
  </div>
</div>

<button class="btn" (click)="gg3();">Push Array
  <i class="material-icons">add</i>
</button>

<ul class="collection">
  <li class="collection-item avatar" *ngFor="let i of datas; let idx = index;" [ngClass]="{'lime': idx%3==0, 'amber': idx%3==1, 'cyan': idx%3==2}">
    <img src="/assets/image/0{{i}}.jpg" alt="" class="circle">
    <span class="title">Title</span>
    <p>{{idx}} {{i}} Line
      <br>{{idx}} {{i}} Line
    </p>
    <a href="#!" class="secondary-content" (click)="ggDelete(idx);">
      <i class="material-icons">delete</i>
    </a>
  </li>
</ul>
