<script>
  $(document).ready(function () {
    $('select').material_select();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false // Close upon selecting a date,
    });
  });
</script>

<div class="row" style="margin-top: 10px;">
  <form class="col s10 offset-s1">
    <div class="row">
      <div class="col s6">

        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s6">
            <label>Project</label>
            <select class="browser-default" id="ddl_project">
              <option value="bug">Bug</option>
              <option value="MA">MA</option>
              <option value="project">Project</option>
            </select>
          </div>
          <div class="input-field col s6">
            <input id="txt_issueDate" type="text" class="datepicker">
            <label for="txt_issueDate">Issue Date</label>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s6">
            <input id="txt_issueBy" type="text" class="">
            <label for="txt_issueBy">Issue By</label>
          </div>
          <div class="input-field col s6">
            <label>Type</label>
            <select class="browser-default" id="ddl_type">
              <option value="CR">Change Request</option>
              <option value="NR">New Request</option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s6">
            <label>Priority</label>
            <select class="browser-default" id="ddl_priority">
              <option value="L">Low</option>
              <option value="M">Medium</option>
              <option value="H">High</option>
            </select>
          </div>
          <div class="input-field col s6">
            <label>Status</label>
            <select class="browser-default" id="ddl_status">
              <option value="O">Open</option>
              <option value="C">Close</option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s12">
            <input id="txt_pic" type="text" class="">
            <label for="txt_pic">PIC</label>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s6">
            <input id="txt_targetDate" type="text" class="datepicker">
            <label for="txt_targetDate">Target Date</label>
          </div>
          <div class="input-field col s6">
            <input id="txt_closeDate" type="text" class="datepicker">
            <label for="txt_closeDate">Close Date</label>
          </div>
        </div>

      </div>
      <div class="col s6">
        <div class="row">
          <div class="input-field col s12">
            <input id="txt_module" type="text">
            <label for="txt_module">Modulee</label>
          </div>
          <div class="input-field col s12">
            <textarea id="txt_description" class="materialize-textarea"></textarea>
            <label for="txt_description">Description</label>
          </div>
          <div class="input-field col s12">
            <textarea id="txt_solution" class="materialize-textarea"></textarea>
            <label for="txt_solution">Solution</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field center col s4 offset-s2">
        <button class="btn" style="width: 60%;">BACK</button>
      </div>
      <div class="input-field center col s4">
        <input class="btn" type="submit" style="width: 60%;" value="SAVE" />
      </div>
    </div>
  </form>
</div>
