<div class="row" style="margin-top: 15px;">
  <div class="col s6 offset-s3 center">
      <img src="/assets/image/02.jpg" alt="" class="circle">
      <br />ผู้ดูแลระบบ : {{userName}}
  </div>
  <div class="col s6 offset-s3 center" style="margin-top: 10px;">
      <button (click)="onLogout()" class="btn" style="width: 70%;">LOGOUT</button>
  </div>
</div>
